body {
   background-color: #2b2b2b;
  }

  h1 {
   color:  #DAF7A6;
   text-align: center;
   font: italic 200% futura;
  }

  h2 {
   color:  #FE642E;
   text-align: center;
   font: italic 120% futura;
  }

  h3 {
   color:  #FFFFE0;
   text-align: center;
   font: italic 100% futura;
  }

  p {
   padding: 20px;
   color: #DAF7A6;
   text-align: center;
   border: 3px dotted #6fc2ff;
  }

a {
color:  #6dd4f7;
}
